.chat-message {
    display: grid;
    row-gap: 5px;
    column-gap: 5px;
    max-width: 250px;
    margin-top: 20px;
}
.chat-message-received {
    grid-template-columns: 60px minmax(80px, auto);
    margin-left: 0;
    margin-right: auto;
}

.chat-message-text {
    height: auto;
    padding: 5px 15px;
    border-radius: 3px;
    line-height: 25px;
    color: white;
    gap: 5px;
}

.chat-message-avatar {
    width: 50px;
    padding: 5px;
    text-align: center;
}

.chat-message-time {
    padding-top: 5px;
}
.chat-message-time-received {
    text-align: left;
}