.room {
    box-sizing:border-box ;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin: 3px auto;
    background-color: #e3b44f;
    padding: 8px;
    border-radius: 3px;
    font-weight: 600;
}


.room:hover {
    background-color: #eac77b;
    cursor: pointer;
}








